html {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: inline;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sidebar {
    height: 100%;
    width: 250px;
    margin-left: -250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(80, 80, 80);
    font-family: monospace;
    transition: ease-in .8s;
}

.sidebar.active {
    margin-left: 0px;
    transition: ease-in 0.7s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    font-family: monospace;
    display: block;
    transition: ease-in .8s;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.openbtn {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    background-color: gray;
    color: white;
    padding: 10px 15px;
    font-family: monospace;
    margin-left: 250px;
}

.container>h1 {
    font-family: monospace;
    font-weight: 800;
    font-size: 50px;
    margin-top: 50px;
    color: rgb(255, 0, 0);
    border: 2px;
}

.container>p {
    font-family: monospace;
    font-size: 25px;
    color: lemonchiffon;
}